Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-avoid-unconditional-preprocessor-if,
  -cppcoreguidelines-avoid-do-while,
  -bugprone-exception-escape,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
WarningsAsErrors: ''
HeaderFilterRegex: 'src/|app/'
